
<table class="table table-striped table-hover ">
  <thead>
    <tr class="info">
      <th>#</th>
      <th>S.No</th>
      <th>Grade Name</th>
      <th>Grade Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grade of grades ; let i=index">
      <td>{{i+1}}</td>
      <td>{{grade?.name}}</td>
      <td>{{grade?.description}}</td>
      <td>
        <a class="btn btn-default btn-xs" [routerLink]='["/grade",i,"edit"]'>Edit</a>
        <button class="btn btn-danger btn-xs" (click)="onDelete(grade)">Delete</button>
      </td>
    </tr>
    <tr class="danger" style="text-align:center" *ngIf="!grades.length">
      <td colspan="4">Grade list is empty</td>
    </tr>
  </tbody>
</table> 
